* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace, Courier;
}

.title-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 3px solid black;
}

.title {
  font-size: 36px;
}

.game-table {
  display: flex;
  justify-content: center;
  height: calc(100vh - 300px);
}

.guess-table {
  height: 250px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid gray;
  font-size: 36px;
}

.correct {
  background-color: green;
  color: white;
}

.partially-correct {
  background-color: darkgoldenrod;
  color: white;
}

.incorrect {
  background-color: gray;
  color: white;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.loading-spinner {
  font-size: 58px;
  animation: spinner 0.75s linear infinite; 
}

/* .hidden {
  visibility: hidden;
} */

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: red;
  font-size: 30px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 36px;
}

.invalid {
  animation: red-flash 2s;
}

@keyframes red-flash {
  0% {
    border-color: red;
  }

  100% {
    border-color: black;
  }
}

@keyframes spinner {
  to{
    transform: rotate(360deg);
  }
}